<div>
  <input
    class="cs-input"
    role="combobox"
    [attr.aria-expanded]="open()"
    [attr.aria-controls]="listboxId"
    [value]="query()"
    (focus)="open.set(true)"
    (input)="setQuery($event)"
    (keydown.escape)="cancel()"
  />
  <div role="listbox" [id]="listboxId" [hidden]="!open()">
    @for (option of filtered(); track option.value) {
      <button
        type="button"
        role="option"
        [attr.aria-selected]="selected(option.value)"
        (click)="choose(option)"
      >
        {{ option.label }}
      </button>
    }
  </div>
</div>
